.maincontent
  .maincontent__header
    .maincontent__header__leftbox
      .maincontent__header__leftbox__box
        %h2.maincontent__header__leftbox__box__group-name  
          = @group.name
        %ul.maincontent__header__leftbox__box__group-member-list
          %p Member :
          %li.maincontent__header__leftbox__box__group-member-list__member
            -# = group.@users.name
    .maincontent__header__edit
      = link_to 'Edit', "/", class: "edit-btn" 
          
  .maincontent__chatspace
    = render @messages
  .maincontent__form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: "form__new-message", placeholder: "type a message"
      .maincontent__form__image
        = f.label :image, class: "form__image" do
          = icon('fas fa-images', class: "image__select-image")
          = f.file_field :image, class: "image__file"
      = f.submit "Send", class: "maincontent__form__send-btn"