.maincontent
  .maincontent__header
    .maincontent__header__leftbox
      .maincontent__header__leftbox__box
        %h2.maincontent__header__leftbox__box__group-name GroupName
        %ul.maincontent__header__leftbox__box__group-member-list
          %p Member :
          %li.maincontent__header__leftbox__box__group-member-list__member Uname
    .maincontent__header__edit
      = link_to 'Edit', "/", class: "edit-btn" 
          
  .maincontent__chatspace
    = render @messages
  .maincontent__chatbox
    .maincontent__chatbox__form
      = form_for [@group, @message] do |f|
        = f.text_field :text, class: "maincontent__chatbox__form__new-massage", placeholder: "type a message"
        .maincontent__chatbox__form__image
          = f.label :image, class: "maincontent__chatbox__form__new-message__image" do
            = icon('fas fa-images', class: "select-image")
            = f.file_field :image, class: "file"
        = f.submit "Send", class: "maincontent__chatbox__form__new-message__send-btn"