.leftcontent
  .leftcontent__leftheader
    %h3.leftcontent__leftheader__myuser
      %p.leftcontent__leftheader__myuser__username
        = current_user.name
      %ul.leftcontent__leftheader__myuser__icon
        %li.list
          = link_to "/", class:"icon__list-newgroup" do
            = icon('far', 'edit', class: "list__btn--newgroup")
        %li.list
          = link_to edit_user_path(current_user), class:"list__btn--editaccount" do
            = icon('fas', 'cogs', class: "list__btn--editaccount")
  .leftcontent__leftmain
    .leftcontent__leftmain__groups
      .leftcontent__leftmain__groups__group
        %p.leftcontent__leftmain__groups__group__group-name Hoge
        %p.leftcontent__leftmain__groups__group__lastest-message hugahuga